<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
      <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
          <section name="WebAutomation.DownloadManager.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      </sectionGroup>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <userSettings>
      <WebAutomation.DownloadManager.Settings>
          <setting name="MinSegmentSize" serializeAs="String">
              <value>200000</value>
          </setting>
          <setting name="MinSegmentLeftToStartNewSegment" serializeAs="String">
              <value>30</value>
          </setting>
          <setting name="RetryDelay" serializeAs="String">
              <value>5</value>
          </setting>
          <setting name="MaxRetries" serializeAs="String">
              <value>10</value>
          </setting>
          <setting name="MaxSegments" serializeAs="String">
              <value>5</value>
          </setting>
          <setting name="DownloadFolder" serializeAs="String">
              <value>D:\</value>
          </setting>
          <setting name="ProxyAddress" serializeAs="String">
              <value />
          </setting>
          <setting name="ProxyUserName" serializeAs="String">
              <value />
          </setting>
          <setting name="ProxyPassword" serializeAs="String">
              <value />
          </setting>
          <setting name="ProxyDomain" serializeAs="String">
              <value />
          </setting>
          <setting name="UseProxy" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ProxyByPassOnLocal" serializeAs="String">
              <value>False</value>
          </setting>
          <setting name="ProxyPort" serializeAs="String">
              <value>0</value>
          </setting>
      </WebAutomation.DownloadManager.Settings>
  </userSettings>

  <appSettings>
    <add key="MaxWait" value="30" />
  </appSettings>
  
  <runtime>
  
       <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
  
            <dependentAssembly>
  
                 <assemblyIdentity name="Ionic.Zip" publicKeyToken="edbe51ad942a3f5c" culture="neutral" />
  
                 <bindingRedirect oldVersion="0.0.0.0-1.9.1.8" newVersion="1.9.1.8" />
  
            </dependentAssembly>
  
       </assemblyBinding>
  
  </runtime>
</configuration>
